* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-primary: hsl(0, 94%, 66%);
  --clr-neutral: hsl(229, 8%, 60%);
  --clr-light: hsl(231, 69%, 60%);
  --clr-dark: hsl(229, 31%, 21%);
}

/* base styles */
body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-neutral);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  color: white;
  display: inline-block;
}

.btn-primary {
  background-color: var(--clr-light);
}

.btn-secondary {
  background-color: var(--clr-primary);
}

/* typography */
h1,
h2,
h3,
p {
  margin: 1rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 500;
  color: var(--clr-dark);
}

.question {
  font-weight: 500;
  color: var(--clr-dark);
}

/* layout */
.container {
  padding: 0 1em;
}

section {
  padding: 2em 0;
}

/* header */
header {
  background-color: var(--clr-dark);
}

/* main */
/* features */
.features {
  overflow: hidden;
}

.slides {
  display: inline-flex;
  overflow: hidden;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  overflow: hidden;
  user-select: text;
}

.slide__img {
  transition: transform 0.3s ease-in-out;
}

.contact {
  background-color: var(--clr-light);
  color: white;
  text-align: center;
}

.contact p {
  text-transform: uppercase;
}

.contact h2 {
  color: white;
}

/* footer */
footer {
  padding: 2em 0;
  background-color: var(--clr-dark);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
